@font-face {
  font-family: "BalooTamma-Regular";
  src: url(../fonts/BalooTamma-Regular.ttf); }

@font-face {
  font-family: "Helvetica-Regular";
  src: url(../fonts/Helvetica-Light-Regular.ttf); }

@font-face {
  font-family: "Helvetica-Oblique";
  src: url(../fonts/Helvetica-Light-Oblique.ttf); }

@font-face {
  font-family: "Helvetica-Bold";
  src: url(../fonts/Helvetica-Bold-Font.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: "Helvetica-Regular";
  background-color: #ffeffe;
  color: #2a2a2b;
  cursor: url(./images/cursor.png), pointer; }

a {
  color: #ffffff;
  transition: 0.2s; }
  a:hover {
    color: #8c56dc; }

i {
  font-size: 30px; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.contenedor__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.banner {
  width: 100%;
  height: 230px;
  padding: 0%;
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center; }

.TituloNuestrosproductos {
  font-size: 2.5rem;
  height: 7rem;
  margin-top: 1rem;
  color: transparent;
  -webkit-text-stroke: 1px #2a2a2b;
  text-align: center;
  background-image: url(./images/blob.svg);
  background-repeat: no-repeat;
  background-position: center; }

.pedido {
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center; }

@media screen and (max-width: 1080px) {
  body {
    align-items: center; }
  header {
    align-items: center; }
  footer {
    flex-direction: column; }
  main {
    align-items: center; }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center; }
  .navegacion
.paginas {
    display: inline-block; } }

@media screen and (max-width: 980px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center; }
  .navegacion
.paginas {
    display: inline-block; }
  .contenedorform__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
  .nuestravideo {
    flex-direction: column;
    width: 120vh;
    height: 80vh; } }

@media screen and (max-width: 968px) {
  .nuestra {
    flex-direction: column;
    align-items: center; }
  .nuestraTexto {
    text-align: center;
    flex-direction: column; } }

@media screen and (max-width: 850px) {
  .nuestravideo {
    flex-direction: column;
    width: 110vh;
    height: 70vh; } }

@media screen and (max-width: 780px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center; }
  .navegacion
.paginas {
    display: inline-block; }
  .contenedorform__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
  .nuestravideo {
    flex-direction: column;
    width: 100vh;
    height: 60vh; } }

@media screen and (max-width: 768px) {
  .contenedor__grid {
    grid-template-columns: 1fr; } }

@media (max-width: 680px) {
  .nuestravideo {
    flex-direction: column;
    width: 90vh;
    height: 60vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin: 0%; }
  iframe {
    width: 550px;
    margin: 0%; }
  .contenedorform {
    width: 550px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media screen and (max-width: 620px) {
  .contenedor_mapa {
    flex-direction: column;
    align-items: center; } }

@media (max-width: 600px) {
  .nuestravideo {
    flex-direction: column;
    width: 80vh;
    height: 50vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0%; }
  iframe {
    width: 500px;
    margin: 0%; }
  .contenedorform {
    width: 500px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 540px) {
  .nuestravideo {
    flex-direction: column;
    width: 70vh;
    height: 50vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: 0%; }
  iframe {
    width: 450px;
    margin: 0%; }
  .contenedorform {
    width: 450px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center; }
  .navegacion
.paginas {
    display: inline-block; }
  .contenedorform__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
  .cardcombos {
    width: 320px;
    margin: 0%;
    margin-top: 1rem; }
  .cardcombosgrandes {
    width: 320px;
    margin: 0%;
    margin-top: 1rem; }
  .cardcombospequenos {
    width: 320px;
    margin: 0%;
    margin-top: 1rem; }
  .nuestravideo {
    flex-direction: column;
    width: 60vh;
    height: 40vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0%; }
  iframe {
    width: 400px;
    margin: 0%; }
  .contenedorform {
    width: 400px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 430px) {
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin: 0%; }
  iframe {
    width: 370px;
    margin: 0%; }
  .contenedorform {
    width: 370px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 400px) {
  .nuestravideo {
    flex-direction: column;
    width: 55vh;
    height: 35vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin: 0%; }
  iframe {
    width: 330px;
    margin: 0%; }
  .contenedorform {
    width: 330px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 380px) {
  .nuestravideo {
    flex-direction: column;
    width: 50vh;
    height: 35vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 310px;
    margin: 0%; }
  iframe {
    width: 310px;
    margin: 0%; }
  .contenedorform {
    width: 310px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 350px) {
  .nuestravideo {
    flex-direction: column;
    width: 45vh;
    height: 30vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 0%; }
  iframe {
    width: 280px;
    margin: 0%; }
  .contenedorform {
    width: 280px;
    margin: 0%;
    margin-bottom: 1rem; } }

@media (max-width: 320px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center; }
  .navegacion
.paginas {
    display: inline-block; }
  .contenedorform__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center; }
  .cardcombosgrandes {
    width: 320px;
    margin: 0%;
    margin-top: 1rem; }
  .cardcombospequenos {
    width: 320px;
    margin: 0%;
    margin-top: 1rem; }
  .nuestravideo {
    flex-direction: column;
    width: 40vh;
    height: 30vh; }
  .contenedor_mapa {
    flex-direction: column;
    align-items: center;
    width: 260px;
    margin: 0%; }
  iframe {
    width: 260px;
    margin: 0%; }
  .contenedorform {
    width: 260px;
    margin: 0%;
    margin-bottom: 1rem; } }

header {
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  height: 10rem;
  position: sticky;
  top: 0;
  z-index: 1; }

img {
  display: block; }

.navegacion {
  display: flex;
  flex-direction: initial;
  justify-content: space-around;
  align-items: center;
  width: 90vw; }
  .navegacion ul {
    display: flex;
    width: 50%;
    justify-content: space-around; }
  .navegacion ul li a {
    color: #333333;
    border-bottom: solid 1px; }

.logoHeader {
  font-family: BalooTamma-Regular;
  color: #271203;
  font-size: 2rem;
  padding-right: 1.5rem;
  padding-left: 1rem; }

footer {
  background: #bababa;
  background: linear-gradient(90deg, #bababa 0%, #f2ccf7 60%, #d4f3f4 100%);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.cardcombos {
  background-color: white;
  border-radius: 30px;
  color: #271203;
  height: 350px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin: 1rem; }

.cardcombos:hover {
  transform: translateY(-3%); }

.cardcombospequenos {
  background-color: white;
  border-radius: 30px;
  color: #271203;
  height: 280px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  z-index: 0; }

.cardcombospequenos:hover {
  transform: translateY(-3%); }

.cardcombosgrandes {
  background-color: white;
  border-radius: 30px;
  color: #271203;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 17px;
  position: relative;
  z-index: 0; }

.cardcombosgrandes:hover {
  transform: translateY(-3%); }

.cardimg {
  width: 280px;
  overflow: hidden; }

.cardimg img {
  object-fit: cover; }

.cardcombosgrandes span {
  position: absolute;
  top: 20px;
  right: 30px; }

.span {
  background: #bf7200;
  background: linear-gradient(90deg, #bf7200 0%, #f4c50e 35%, #eaff00 100%);
  color: #5f5f5f;
  padding: 6px;
  border-radius: 10px; }

.button {
  background-color: #1e0601;
  color: white;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: 10px;
  transition: 0.2s; }

.button:hover {
  background: #ea55ca;
  color: #a9fff2; }

.nuestra {
  display: flex;
  background-color: white;
  color: #370f00;
  margin: 1rem;
  background-color: #ffeffe; }

.nuestraTexto {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .nuestraTextoh3 {
    font-size: 3rem;
    font-family: Helvetica-Bold; }
  .nuestraTextop {
    font-size: 1.3rem;
    font-family: Helvetica-Oblique;
    height: 6rem; }

.nuestravideo {
  width: 120vh;
  height: 60vh; }

.nuestravideo iframe {
  width: 100%;
  height: 100%; }
