$marron: #271203;
$gris: #2a2a2b; 
$grisoscuro: rgb(95, 95, 95);
$grisintermedio: #333333;
$grisclaro: #C4C4C4;
$violeta: #8c56dc;
$rosado: #ffeffe;
$blanco: #ffffff;
$grisfooter: rgb(186,186,186);
$dorado:  rgb(191,114,0);
$gradorado: linear-gradient(90deg, rgba(191,114,0,1) 0%, rgba(244,197,14,1) 35%, rgba(234,255,0,1) 100%);
$gradfooter: linear-gradient(90deg, rgba(186,186,186,1) 0%, rgba(242,204,247,1) 60%, rgba(212,243,244,1) 100%);
$fuscia: #ea55ca;
$rosa: rgb(255, 133, 226);
$rosaclaro: rgb(226, 197, 228);
$celeste: #a9fff2;